.overview_wrap {
    padding: 10px 20px;
    display: flex;
}
.overview_wrap .overview_left {
    flex: 1;
    display: flex;
    align-items: center;
    height: 230px;
    margin-right: 20px;
    border: 1px solid #e2e8f0;
}
.overview_msg {
    padding-top: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.overview_msg h2 {
    margin-bottom: 0;
}
.overview_msg .account-balance {
    font-size: 24px;
    font-weight: 700;
}
.overview_msg .charts_msg_num p {
    font-weight: 700;
}
.overview_wrap .overview_right {
    flex: 1;
    height: 230px;
    border: 1px solid #e2e8f0;
    box-sizing: border-box;
    padding: 20px 20px;
}
.overview_right h2 {
    margin-bottom: 0;
}
.power_wrap .power_num {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.power_num span {
    font-weight: 700;
}
.power_msg_wrap {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.power_msg_left,.power_msg_right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 700;
}
.status_msg_wrap {
    margin-top: 20px;
}
.status_msg_wrap .status_msg_content {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
}
.statistics_wrap {
    box-sizing: border-box;
    padding: 0 20px;
}
.statistics_wrap .statistics_title_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}
.statistics_wrap .statistics_msg {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    border: 1px solid #e2e8f0;
}
.statistics_msg {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.statistics_msg div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.statistics_msg div p {
    font-weight: 700;
}
.statistics_msg div p:last-child {
    margin-bottom: 0;
}
.spin_wrap {
    text-align: center;
    /*background: rgba(0, 0, 0, 0.05);*/
    border-radius: 4px;
    padding: 30px 50px;
    margin: 20px 0;
}
.newList_wrap {
    margin-top: 100px;
    box-sizing: border-box;
    padding: 0 20px;
}
.newList_wrap .newList_top_wrap {
    display: flex;
    justify-content: space-between;
}
.txt_color {
    color: #1a4fc9;
}
.txt_bolder {
    font-weight: 700;
}
.text_title {
    font-weight: 700;
    color: #718096;
}
.accountOverview_wrap {
    margin-top: 100px;
    box-sizing: border-box;
    padding: 0 20px;
}
.accountOverview_wrap .accountMsg_wrap {
    display: flex;
    justify-content: space-between;
    border: 1px solid #e2e8f0;
    box-sizing: border-box;
    padding: 20px;
}
.accountOverview_wrap .accountMsg_wrap div {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;
}
.accountOverview_wrap .accountMsg_wrap div p {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    margin-bottom: 10px;
}
.accountOverview_wrap .accountMsg_wrap div p:last-child {
    margin-bottom: 0;
}
.accountOverview_wrap .accountMsg_wrap .account_left {
    margin-right: 20px;
}
.cursor_hover {
    cursor: pointer;
}
.cursor_hover:hover {
    color: #1a4fc9;
}
.message_overview_wrap {
    box-sizing: border-box;
    padding: 0 20px;
}
.message_overview_wrap .messageDetail_content {
    width: 80%;
}
.message_overview_wrap .messageDetail_content p {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
 }
.message_overview_wrap .messageDetail_content p span:nth-child(1) {
    flex: 0.5;
    color: #718096;
}
.message_overview_wrap .messageDetail_content p span:last-child {
    flex: 2.5;
    text-align: left;
    color: #000000;
}
.account_msg_wrap {
    box-sizing: border-box;
    padding: 0 20px;
}
.account_msg_wrap {
    margin: 60px 0;
}
.nodeMsgDetail p {
    width: 60%;
    display: flex;
    justify-content: space-between;
}
.nodeMsgDetail p span:first-child {
    flex: 0.5;
    display: flex;
    align-items: center;
}
.nodeMsgDetail p span:last-child {
    flex: 1.5;
}
.nodeMsgDetail p .ip_content {
    display: flex;
    flex-direction: column;
}
.accountOverview_content {
    box-sizing: border-box;
    padding-left: 20px;
}
.accountOverview_box p {
    width: 60%;
    display: flex;
    justify-content: space-between;
}
.accountOverview_box p span:first-child {
    flex: 0.5;
    display: flex;
    align-items: center;
}
.accountOverview_box p span:last-child {
    flex: 1.5;
}
.heightDetail_content p {
    width: 60%;
    display: flex;
    justify-content: space-between;
}
.heightDetail_content p span:first-child {
    flex: 0.5;
    display: flex;
    align-items: center;
    color: #718096;
}
.heightDetail_content p span:last-child {
    flex: 1.5;
    color: #000;
}
.heightItem_wrap ul {
    padding-left: 0;
}
.heightItem_wrap ul li {
    list-style: none;
    background: #f0f6fb;
    box-sizing: border-box;
    padding: 20px 40px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.heightItem_wrap ul li p {
    width: 60%;
    display: flex;
    justify-content: space-between;
}
.heightItem_wrap ul li p:last-child {
    margin-bottom: 0;
}
.heightItem_wrap ul li p span:first-child {
    flex: 0.4;
    display: flex;
    align-items: center;
    color: #718096;
}
.heightItem_wrap ul li p span:nth-child(2) {
    flex: 1.5;
    color: #000;
}
.minerTagTxt {
    border: 1px solid #cdcfd1;
    border-radius: 30px;
    box-sizing: border-box;
    padding: 0 10px;
    flex: 0;
    white-space: nowrap;
    display: flex;
}
.blockDetail_wrap .blockDetail_content p {
    width: 60%;
    display: flex;
    justify-content: space-between;
}
.blockDetail_content p span:first-child {
    flex: 0.5;
    display: flex;
    align-items: center;
    color: #718096;
}
.blockDetail_content p span:last-child {
    flex: 1.5;
    color: #000;
    overflow-wrap: anywhere;
}



